.modif-produit {
    display: flex;
    padding: 5px;
}

.modif-produit .col-1 {
    width: 30%;
    margin-right: 8px;
}

.modif-produit .col-2 {
    width: 100%;
}

.modif-produit h1 {
    font-size: larger;
    background: #03ca7e;
    color: #f1f1f1;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.modif-produit .search-zone input {
    width: 90%;
    height: 5vh;
    outline: none;
    border-radius: 5px;
    color: #03ca7e;
    font-size: 17px;
    margin: 5px 0px;
}
  
.modif-produit .search-zone input:focus {
      border: 2px solid #03ca7e;
}

.modif-produit ul{
    border: 1px solid gray;
    overflow-y: auto;
    position: relative;
    height: 55vh;
}

.modif-produit ul li {
    color: #038654;
    font-weight: 600;
    width: 100%;
    padding: 0px 5px;
}

.modif-produit ul li:hover {
    background-color: #03ca7e;
    color: #f1f1f1;
    cursor: pointer;
}

.modif-produit .details-prod {
    /* display: flex; */
    border: 1px solid #03ca7e;
}

.modif-produit .details-prod .box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.modif-produit .details-prod .box p {
    width: 22vw;
}

.modif-produit .details-prod .box .item p:first-child {
    color: #03ca7e;
}

.modif-produit .details-prod .box .item p:last-child {
    font-weight: 700;
    color: #0c5f16;
}

.modif-produit .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bootstrap-btn.valider:hover {
    background-color: #0069d9;
}

.bootstrap-btn.annuler:hover {
    background-color: #df322d;
}

.bootstrap-btn.annuler {
    background-color: #ec4641;
}
