.approvisionner {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-gap: 10px;
}

.approvisionner .infos-approv, .approvisionner .details-approv {
    width: 100%;
}

.approvisionner .infos-approv .montant-commande {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 20px;
}

.approvisionner .infos-approv {
    margin-left: 5px;
}

.approvisionner h1 {
    font-size: larger;
    background: #03ca7e;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    text-align: center;
}

.approvisionner .infos-approv .search-zone input {
    width: 70%;
    height: 4vh;
    outline: none;
    border-radius: 5px;
    color: #038654;
    font-size: 17px;
    margin-bottom: 5px;
    padding: 4px;
}

.approvisionner .infos-approv .search-zone input:focus {
    border: 1px solid #1beabd;
    box-shadow: inset 0 0 0 3px #fff,
			/* 0 0 0 4px #fff, */
			1px -1px 4px #1beabd,
			-1px 1px 4px #0cd3a8;
}

.approvisionner ul{
    border: 1px solid gray;
    overflow-y: auto;
    position: relative;
    height: 55vh;
}

.approvisionner ul li {
    color: #038654;
    font-weight: 600;
    width: 100%;
    padding: 0px 5px;
}

.approvisionner ul li:hover {
    background-color: #038654;
    color: #f1f1f1;
    cursor: pointer;
}

.approvisionner .details-approv form {
    display: grid;
    border: 1px solid #038654;
    margin: 0px 5px;
}

 .box-container {
    display: flex;
}

.box-container .box {
    margin: 10px;
    width: 20%;
    margin: 15px;
}

@media screen and (max-width: 1120px) {
    .approvisionner .details-approv .box {
        width: 25%;
    }    
}

.approvisionner .details-approv label {
    color: #038654;
}

.approvisionner .details-approv input, .approvisionner .details-approv select{
    outline: none;
    height: 4vh;
    font-size: 15px;
    font-weight: 600;
    color: #038654;
}

.approvisionner .details-approv input {
    border-radius: 5px;
    padding: 4px;
}

.approvisionner .details-approv input[type=text]:focus, 
.approvisionner .details-approv input[type=number]:focus {
    box-shadow: inset 0 0 0 3px #fff,
			/* 0 0 0 4px #fff, */
			3px -3px 10px #1beabd,
			-3px 3px 10px #0cd3a8;
    border: 1px solid #1beabd;
}

.approvisionner .details-approv select {
    margin-top: 15px;
}

.detail-item  button {

    display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .275rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
    cursor: pointer;
    margin-top: 15px;


}

.approvisionner .details-approv .produits-commandes .valider-btn button {
    /* color: #fff;
    background: #012557;
    font-size: 18px;
    margin-top: 25px;
    width: 20%;
    height: 5vh;
    cursor: pointer; */

    display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .275rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
    cursor: pointer;
    width: 15%;
    height: 5vh;


}

.approvisionner .produits-commandes table {
    border-spacing: 0px;
    width: 100%;
}

.approvisionner .produits-commandes table thead {
    font-weight: 600;
    background: #038654;
    color: #f1f1f1;
}

.approvisionner .produits-commandes table thead tr td, .approvisionner .produits-commandes table tbody tr td {
    text-align: center;
}

.approvisionner .produits-commandes table tbody tr:hover {
    background-color: #038654;
    color: #f1f1f1;
    font-weight: 600;
}
