.entete {
    background: #03ca7e;
    color: #f1f1f1;
    transition: .2s;
}

.entete .deconnection {
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.entete h3 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    padding-top: 2px;
}

.entete button {
    color: #012557;
    font-size: 18px;
    height: 4vh;
    cursor: pointer;
    margin-left: 15px;
}

.entete .box-entete {
    width: 100%;
}