.historique .table-commandes table {
    width: 100%;
    padding: 0px 10px;
    border-collapse: collapse;
}

.historique .container-historique {
    display: grid;
    grid-template-columns: 27vw 1fr;
    padding: 8px;
}

/* .historique button {
    color: #fff;
    background: #0749a5;
    font-size: 18px;
    margin-top: 25px;
    width: 16%;
    height: 5vh;
    cursor: pointer;
    margin: 5px;
} */

.historique .search-zone input {
    width: 90%;
    height: 5vh;
    outline: none;
    border-radius: 5px;
    color: #000;
    font-size: 17px;
    margin-bottom: 5px;
    
}
  
.historique .search-zone input:focus {
    border: 1px solid #1beabd;
    box-shadow: inset 0 0 0 3px #fff,
			/* 0 0 0 4px #fff, */
			1px -1px 4px #1beabd,
			-1px 1px 4px #0cd3a8;
}

.historique h1 {
    background: #03ca7e;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
}

.historique .medocs-sortis {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 5px;
}

.historique .medocs-sortis ul{
    border: 1px solid gray;
    overflow-y: auto;
    position: relative;
    height: 64vh;
}

/* .historique .medocs-sortis ul .loader {
    position: absolute;
    bottom: 45%;
    left: 40%;
} */

.historique .medocs-sortis ul li {
    color: #038654;
    font-weight: 600;
    width: 100%;
    padding: 0px 5px;
}

.historique .medocs-sortis ul li:hover {
    background-color: rgba(4, 150, 94, 0.795);
    color: #f1f1f1;
    cursor: pointer;
}

.historique .table-commandes {
    height: 76vh;
    width: 100%;
    border: 1px solid #03ca7e;
    overflow-y: auto;
    margin-top: 10px;
}

.historique .table-commandes table thead {
    font-weight: 600;
    background: #03ca7e;
    color: #f1f1f1;
    position: sticky;
    top: 0;
}

.historique .table-commandes table tbody tr:hover {
    background-color: #05a065;
    color: #f1f1f1;
    font-weight: 600;
}

.historique .table-commandes table tbody {
    position: relative;
}

.historique .table-commandes table tbody .loader {
    position: absolute;
    left: 45%;
    top: 160px;
}

.historique .table-commandes .entete-historique {
    width: 100%;
    text-align: center;
}

.bootstrap-btn:hover {
    background-color: #0069d9;
}