.commande {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 85vh;
    /* background: #18202e; */
}

.commande .left-side, .commande .right-side {
    width: 100%;
}

.commande .right-side h1 {
    background: #03ca7e;
    color: #fff;
    text-align: center;
    margin: 0px 5px;
    border-radius: 10px 10px 0px 0px;

}

.commande .left-side .liste-medoc h1 {
    background-color: #03ca7e;
    color: #fff;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 4px;
}

.commande .left-side {
    padding: 10px;
}

.commande .left-side .search-zone input {
  width: 90%;
  height: 5vh;
  outline: none;
  border-radius: 5px;
  color: #038654;
  font-size: 17px;
}

.commande .left-side .search-zone input:focus {
    border: 1px solid #1beabd;
    box-shadow: inset 0 0 0 3px #fff,
			/* 0 0 0 4px #fff, */
			1px -1px 4px #1beabd,
			-1px 1px 4px #0cd3a8;
}

.commande .left-side .liste-medoc {
    margin-top: 10px;
}

.commande .left-side .liste-medoc ul{
    height: 70vh;
    border: 1px solid gray;
    overflow: auto;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}

.loader {
    position: absolute;
    bottom: 45%;
    left: 31%;

}

.commande .left-side .liste-medoc ul li {
    color: #038654;
    font-weight: 600;
    width: 100%;
    padding: 0px 5px;
}

.commande .left-side .liste-medoc ul li:hover {
    background-color: rgba(4, 150, 94, 0.795);
    color: #f1f1f1;
    cursor: pointer;
}

.erreur-message {
    background: #fff;
    width: 100%;
    text-align: center;
    color: rgba(238, 42, 42, 0.952);
    font-weight: 600;
    letter-spacing: 1px;
}

.commande .right-side .infos-medoc {
    display: flex;
    border: 1px solid #03ca7e;
    margin: 0px 5px;
}

.commande .right-side .infos-medoc .box {
    margin: 10px;
}

.commande .right-side .infos-medoc label {
    color: #03ca7e;
}


.commande .right-side .infos-medoc .box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.commande .right-side .infos-medoc .box p {
    width: 22vw;
}

.commande .right-side .infos-medoc .box .item p:last-child {
    font-weight: 700;
    color: #038654;
}

.commande .right-side input{
    outline: none;
    width: 10%;
    height: 4vh;
    font-size: 15px;
    font-weight: 600;
    color: #038654;
    margin-right: 5px;
}

.commande .right-side h1 {
    margin-top: 5px;
    background-color: #03ca7e;
}

.commande .right-side .details-commande {
    width: 100%;
}

.commande .right-side .details-commande table {
    width: 100%;
    padding: 0px 10px;
    border-collapse: separate;
}

.commande .right-side .details-commande table thead {
    font-weight: 600;
}

.commande .right-side .details-commande table tbody {
    color: #027e4e;
}

.commande .right-side .details-commande table thead tr td:nth-child(2),
.commande .right-side .details-commande table tbody tr td:nth-child(2) {
    text-align: center;
}

.commande .right-side .details-commande table thead tr td:last-child,
.commande .right-side .details-commande table tbody tr td:last-child {
    text-align: center;
}

.commande .right-side .details-commande .valider-annuler {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0px;
}

/* .commande .right-side .details-commande .valider-annuler button {
    width: 150px;
    height: 6vh;
    color: #f1f1f1;
    background-color: #012557;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
} */

.commande .right-side .details-commande .valider-annuler button:last-child {
    margin-left: 20px;
}

.rafraichir {
    width: 150px;
    height: 3vh;
    color: #f1f1f1;
    background-color: #012557;
    cursor: pointer;
    font-size: 17px;
}

.bootstrap-btn {
	display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .275rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
    cursor: pointer;
    width: 13%;

}

.bootstrap-btn.valider:hover {
    background-color: #0069d9;
}

.bootstrap-btn.annuler:hover {
    background-color: #df322d;
}

.bootstrap-btn.annuler {
    background-color: #ec4641;
}

.commande .right-side .box .detail-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.commande .right-side .box .detail-item input[type=text]:focus {
    box-shadow: inset 0 0 0 3px #fff,
			1px -1px 4px #1beabd,
			-1px 1px 4px #0cd3a8;
    border: 1px solid #1beabd;
}

.btn-patient {
	background: linear-gradient(90deg, #007bff, #489df7);
    width: 20%;
    height: 5vh;
    color: honeydew;
    font-size: medium;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}